

#auswahl{
	background-color:#000000;
	padding:10px;
	width:1000px;
	height:250px;
	color: grey;
}





.schiff{
	background-color:#aaaaaa;
	margin:10px;
	border:10px;
	padding:10px;
	float: left;
}
button{
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	margin-top: 0px;
	font-size: 12px;
	border-radius: 10px;
	background-color: #666666;	
	border-bottom: 1px solid rgba(255,255,255,0.2);
		display: inline-block;
	font-family: Arial, Helvetica, sans;
	margin-left: auto;
	margin-right: auto;
}
#s{
	float: left;
}


#eingabe{
	margin: 50px;
	float: left;
	position: absolute;
	bottom: 200px;
	
}

table{
	border-collapse: collapse;
	background-color: #000;
}


.schiff img{
	width: 100px;
	height:100px;
		margin-left: auto;
	margin-right: auto;
}


#mySchiffNameBox2 {
	position: absolute;
	left: 100px;
	background-color:#020202;
	width:300px;
	text-align:center;
	display: none;
	
}
#mySchiffNameBox1 {
	position: absolute;
	right: 200px;
	background-color:#020202;
	width:300px;
	text-align:center;
	display: none;
}

#progressBarHolder1 {
	width: 300px;
  margin-top:20px;
}

#progressBar1 {
    background-image: linear-gradient(#fff, gray);
    /* Hintergrund soll nicht über das element wiederholt werden */
    background-repeat:no-repeat;
    /* in der Breite zunächst 0% gefüllt, in der Höhe 100% */
	  background-size: 0% 100%;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

#progressInformation2 {
    color: gray;
    font-size: 20px;
    text-align: center;
}
#progressBarHolder2 {
	width: 300px;
  margin-top:20px;
}

#progressBar2 {
    /* Farbverlauf als Hintergrundbild */
    background-image: linear-gradient(#fff, gray);
    /* Hintergrund soll nicht über das element wiederholt werden */
    background-repeat:no-repeat;
    /* in der Breite zunächst 0% gefüllt, in der Höhe 100% */
	  background-size: 0% 100%;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

#progressInformation1 {
    color: gray;
    font-size: 20px;
    text-align: center;
}





p{
	font-family: 'Desdemona', arial;
	font-size: 30px;
	color:#fff;
	
}

#box1{
	width:256px;
	height: 256px;
	position: absolute;
	left: 600px;
	top: 500px;
}

#box2{
	width:256px;
	height: 256px;
	position: absolute;
	left: 200px;
	top: 500px;
}


#laser1
{
	width:1000px;
	height:5px;
	background-color: red;
		position: absolute;
	left: -1000px;
	top: 0px;
}
#laser2
{
	width:1000px;
	height:5px;
	background-color: red;
		position: absolute;
	left: -1000px;
	top: 0px;
}

