

#auswahl{
	background-color:#000000;
	padding:10px;
	height:170px;
}
.schiff{
	background-color:#aaaaaa;
	margin:10px;
	border:10px;
	padding:10px;
	float: left;
}
button{
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	margin-top: 0px;
	font-size: 12px;
	border-radius: 10px;
	background-color: #666666;	
	border-bottom: 1px solid rgba(255,255,255,0.2);
		display: inline-block;
	font-family: Arial, Helvetica, sans;
	margin-left: auto;
	margin-right: auto;
}
#s{
	float: left;
}


#eingabe{
	margin: 50px;
	float: left;
	
}

table{
	border-collapse: collapse;
	background-color: #000;
}


.schiff img{
	width: 100px;
	height:100px;
		margin-left: auto;
	margin-right: auto;
}
#meinSchiff {

	
}
#mySchiffPic{

}
#box{
	width:50px;
	height: 50px;
	position: absolute;
	left: 200px;
	top: 200px;
}



